body {
    background: white;
    color: black;
    font-family: "helvetica", sans-serif;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
#container {
    width: 53em;
    margin: auto;
}

#strap {
    background: #faedea;
    width: 100%;
}

#strap .inner {
    width: 53em;
    margin: 0 auto 20px;
    /*background: pink;*/
    padding: 10px;
    color: #666;
}
.clear {
    display: block;
    clear: both;
}
section {
    margin: 0 0 1em;
    padding: 0 0 1em;
    border-bottom: 1px solid #888;
    display: block;
}
p {
    margin: 0 0 1em;
    padding: 0;
    line-height: 1.4em;
}
img {
    max-width: 100%;
}

.media {
    position: relative;
    margin: 0 0 15px 0;
    padding-bottom: 51%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: 1px solid #ccc;
}
.media iframe,
.media object,
.media embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
h1 {
    margin: 0 auto;
    text-align: center;
    background:url(/img/twinklr-head.png) no-repeat 50% 0%;
    width: 100%;
    height: 100px;
}

h1 span.inner {
  display: none;
}
.hidden {
  display: none;
}

h3 {
    margin: 0 0 1em;
}
nav {
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 90%;
}
nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav li {
    display: inline-block;
    margin: 0 0.8em;
}
nav a {
    text-decoration: none;
}
.major {
    width: 66%;
}
.minor {
    width: 33%;
}
.maximus {
    width: 75%;
}
.minimus {
    width: 24%;
}
.right {
    float: right;
}
.left {
    float: left;
}
.half {
  width: 49%;
}
@media only screen and (max-width: 800px) {
    #container,
    #strap .inner,
    nav,
    img {
        width: auto;
        max-width: 100%;
        text-align: left;
    }
    #container,
    #strap .inner {
        margin-left: 10px;
        margin-right: 10px;
    }
    img {
      margin-bottom: 1em;
    }
    .left,
    .right {
        float: none;
        width: auto;
    }

    .minimus {
      float: left;
      width: 100px;
      height: 100px;
      margin: 0 10px 10px 0;    
    }

    nav li {
      margin-bottom: 0.5em;


}